@import './variable.scss';

@mixin reset {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@mixin resetList {
  @include reset;
  list-style: none;
}

@mixin textEllipsis {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin baseFont {
  font-variant-numeric: tabular-nums;
}

@mixin normalFontXS {
  @include baseFont();
  font-size: $fontSize1;
  line-height: $lineHeight1;
}

@mixin normalFontSM {
  @include baseFont();
  font-size: $fontSize2;
  line-height: $lineHeight2;
}

@mixin normalFontMD {
  @include baseFont();
  font-size: $fontSize3;
  line-height: $lineHeight3;
}

@mixin normalFontLG {
  @include baseFont();
  font-size: $fontSize4;
  line-height: $lineHeight4;
}

@mixin heading1 {
  @include baseFont();
  font-size: $fontSize10;
  line-height: $lineHeight10;
}

@mixin heading2 {
  @include baseFont();
  font-size: $fontSize9;
  line-height: $lineHeight9;
}

@mixin heading3 {
  @include baseFont();
  font-size: $fontSize8;
  line-height: $lineHeight8;
}

@mixin heading4 {
  @include baseFont();
  font-size: $fontSize7;
  line-height: $lineHeight7;
}

@mixin heading5 {
  @include baseFont();
  font-size: $fontSize6;
  line-height: $lineHeight6;
}

@mixin heading6 {
  @include baseFont();
  font-size: $fontSize5;
  line-height: $lineHeight5;
}
