$fontFamily: 'Segoe UI', 'Segoe UI Web (West European)', -apple-system,
  BlinkMacSystemFont, Roboto, 'Helvetica Neue', Bahnschrift, sans-serif;

$classNamePrefix: 'lrc';

$fontWeightRegular: 200;
$fontWeightMedium: 400;
$fontWeightBold: 600;

$fontSize1: 10px;
$fontSize2: 12px;
$fontSize3: 14px;
$fontSize4: 16px;

$fontSize5: 18px;
$fontSize6: 20px;
$fontSize7: 22px;
$fontSize8: 24px;
$fontSize9: 26px;
$fontSize10: 28px;

$lineHeight1: 1.1;
$lineHeight2: 1.2;
$lineHeight3: 1.3;
$lineHeight4: 1.4;
$lineHeight5: 1.5;
$lineHeight6: 1.7;
$lineHeight7: 1.9;
$lineHeight8: 2.1;
$lineHeight9: 2.3;
$lineHeight10: 2.5;

$brNone: 0px;
$brSM: 4px;
$brMD: 8px;
$brLG: 12px;
$brXL: 16px;
$brCircle: 1000px;

$spacing02: 2px;
$spacing04: 4px;
$spacing06: 6px;
$spacing08: 8px;
$spacing12: 12px;
$spacing16: 16px;
$spacing24: 24px;
$spacing32: 32px;

$bluePrimary: #0d6efd;
$blue0: lighten($bluePrimary, 45%);
$blue1: lighten($bluePrimary, 35%);
$blue2: lighten($bluePrimary, 25%);
$blue3: lighten($bluePrimary, 15%);
$blue4: lighten($bluePrimary, 5%);
$blue5: $bluePrimary;
$blue6: darken($bluePrimary, 5%);
$blue7: darken($bluePrimary, 15%);
$blue8: darken($bluePrimary, 25%);
$blue9: darken($bluePrimary, 35%);

$redPrimary: #e81212;
$red0: lighten($redPrimary, 45%);
$red1: lighten($redPrimary, 35%);
$red2: lighten($redPrimary, 25%);
$red3: lighten($redPrimary, 15%);
$red4: lighten($redPrimary, 5%);
$red5: $redPrimary;
$red6: darken($redPrimary, 5%);
$red7: darken($redPrimary, 15%);
$red8: darken($redPrimary, 25%);
$red9: darken($redPrimary, 35%);

$grayPrimary: #919ba7;
$gray0: lighten($grayPrimary, 45%);
$gray1: lighten($grayPrimary, 35%);
$gray2: lighten($grayPrimary, 25%);
$gray3: lighten($grayPrimary, 15%);
$gray4: lighten($grayPrimary, 5%);
$gray5: $grayPrimary;
$gray6: darken($grayPrimary, 5%);
$gray7: darken($grayPrimary, 15%);
$gray8: darken($grayPrimary, 25%);
$gray9: darken($grayPrimary, 35%);
$gray10: darken($grayPrimary, 50%);

$purplePrimary: #6610f2;
$purple0: lighten($purplePrimary, 45%);
$purple1: lighten($purplePrimary, 35%);
$purple2: lighten($purplePrimary, 25%);
$purple3: lighten($purplePrimary, 15%);
$purple4: lighten($purplePrimary, 5%);
$purple5: $purplePrimary;
$purple6: darken($purplePrimary, 5%);
$purple7: darken($purplePrimary, 15%);
$purple8: darken($purplePrimary, 25%);
$purple9: darken($purplePrimary, 35%);

$yellowPrimary: #f8bc03;
$yellow0: lighten($yellowPrimary, 45%);
$yellow1: lighten($yellowPrimary, 35%);
$yellow2: lighten($yellowPrimary, 25%);
$yellow3: lighten($yellowPrimary, 15%);
$yellow4: lighten($yellowPrimary, 5%);
$yellow5: $yellowPrimary;
$yellow6: darken($yellowPrimary, 5%);
$yellow7: darken($yellowPrimary, 15%);
$yellow8: darken($yellowPrimary, 25%);
$yellow9: darken($yellowPrimary, 35%);

$greenPrimary: #40c057;
$green0: lighten($greenPrimary, 45%);
$green1: lighten($greenPrimary, 35%);
$green2: lighten($greenPrimary, 25%);
$green3: lighten($greenPrimary, 15%);
$green4: lighten($greenPrimary, 5%);
$green5: $greenPrimary;
$green6: darken($greenPrimary, 5%);
$green7: darken($greenPrimary, 15%);
$green8: darken($greenPrimary, 25%);
$green9: darken($greenPrimary, 35%);

$orangePrimary: #fd7e14;
$orange0: lighten($orangePrimary, 45%);
$orange1: lighten($orangePrimary, 35%);
$orange2: lighten($orangePrimary, 25%);
$orange3: lighten($orangePrimary, 15%);
$orange4: lighten($orangePrimary, 5%);
$orange5: $orangePrimary;
$orange6: darken($orangePrimary, 5%);
$orange7: darken($orangePrimary, 15%);
$orange8: darken($orangePrimary, 25%);
$orange9: darken($orangePrimary, 35%);

$pinkPrimary: #ea2065;
$pink0: lighten($pinkPrimary, 45%);
$pink1: lighten($pinkPrimary, 35%);
$pink2: lighten($pinkPrimary, 25%);
$pink3: lighten($pinkPrimary, 15%);
$pink4: lighten($pinkPrimary, 5%);
$pink5: $pinkPrimary;
$pink6: darken($pinkPrimary, 5%);
$pink7: darken($pinkPrimary, 15%);
$pink8: darken($pinkPrimary, 25%);
$pink9: darken($pinkPrimary, 35%);
