$fontFamily: 'Segoe UI', 'Segoe UI Web (West European)', -apple-system,
  BlinkMacSystemFont, Roboto, 'Helvetica Neue', Bahnschrift, sans-serif;

$classNamePrefix: 'lrc';

$fontWeightRegular: 200;
$fontWeightMedium: 400;
$fontWeightBold: 600;

$fontSize1: 10px;
$fontSize2: 12px;
$fontSize3: 14px;
$fontSize4: 16px;

$fontSize5: 18px;
$fontSize6: 20px;
$fontSize7: 22px;
$fontSize8: 24px;
$fontSize9: 26px;
$fontSize10: 28px;

$lineHeight1: 1.1;
$lineHeight2: 1.2;
$lineHeight3: 1.3;
$lineHeight4: 1.4;
$lineHeight5: 1.5;
$lineHeight6: 1.7;
$lineHeight7: 1.9;
$lineHeight8: 2.1;
$lineHeight9: 2.3;
$lineHeight10: 2.5;

$brNone: 0px;
$brSM: 4px;
$brMD: 8px;
$brLG: 12px;
$brXL: 16px;
$brCircle: 1000px;

$spacing02: 2px;
$spacing04: 4px;
$spacing06: 6px;
$spacing08: 8px;
$spacing12: 12px;
$spacing16: 16px;
$spacing24: 24px;
$spacing32: 32px;

$bluePrimary: #0d6efd;
$blue0: lighten($bluePrimary, 50%);
$blue1: lighten($bluePrimary, 40%);
$blue2: lighten($bluePrimary, 30%);
$blue3: lighten($bluePrimary, 20%);
$blue4: lighten($bluePrimary, 10%);
$blue5: $bluePrimary;
$blue6: darken($bluePrimary, 10%);
$blue7: darken($bluePrimary, 20%);
$blue8: darken($bluePrimary, 30%);
$blue9: darken($bluePrimary, 40%);
$blue10: darken($bluePrimary, 50%);

$redPrimary: #dc3545;
$red0: lighten($redPrimary, 50%);
$red1: lighten($redPrimary, 40%);
$red2: lighten($redPrimary, 30%);
$red3: lighten($redPrimary, 20%);
$red4: lighten($redPrimary, 10%);
$red5: $redPrimary;
$red6: darken($redPrimary, 10%);
$red7: darken($redPrimary, 20%);
$red8: darken($redPrimary, 30%);
$red9: darken($redPrimary, 40%);
$red10: darken($redPrimary, 50%);

$grayPrimary: #92969b;
$gray0: lighten($grayPrimary, 50%);
$gray1: lighten($grayPrimary, 40%);
$gray2: lighten($grayPrimary, 30%);
$gray3: lighten($grayPrimary, 20%);
$gray4: lighten($grayPrimary, 10%);
$gray5: $grayPrimary;
$gray6: darken($grayPrimary, 10%);
$gray7: darken($grayPrimary, 20%);
$gray8: darken($grayPrimary, 30%);
$gray9: darken($grayPrimary, 40%);
$gray10: darken($grayPrimary, 50%);

$purplePrimary: #6610f2;
$purple0: lighten($purplePrimary, 50%);
$purple1: lighten($purplePrimary, 40%);
$purple2: lighten($purplePrimary, 30%);
$purple3: lighten($purplePrimary, 20%);
$purple4: lighten($purplePrimary, 10%);
$purple5: $purplePrimary;
$purple6: darken($purplePrimary, 10%);
$purple7: darken($purplePrimary, 20%);
$purple8: darken($purplePrimary, 30%);
$purple9: darken($purplePrimary, 40%);
$purple10: darken($purplePrimary, 50%);
