@import "~lrc-ui/styles/variable.scss";

@font-face {
  font-family: JetBrainsMono;
  src: url("../public/font/JetBrainsMono-Regular.woff2");
}

.emptyLoadFont {
  font-family: "JetBrainsMono";
  position: absolute;
  display: none;
  width: 0;
  height: 0;
  user-select: none;
  pointer-events: none;
  top: -999px;
  left: -999px;
}

.wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
  font-family: $fontFamily;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("../public/asset/back.svg") no-repeat,
      url("../public/asset/back2.svg") no-repeat;
    background-size: contain;
    opacity: 0.1;
    z-index: 0;
    user-select: none;
    pointer-events: none;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("../public/asset/back3.svg") no-repeat,
      url("../public/asset/back2.svg") no-repeat;
    background-size: contain;
    opacity: 0.1;
    z-index: 0;
    user-select: none;
    pointer-events: none;
  }
}

.divider {
  width: 0;
  height: 100%;
  // border-left: 1px dashed $gray2;
}

.contentWrap {
  flex: 1;
  height: 100%;
  overflow: overlay;
  padding: 32px 88px;
}

.content {
  max-width: 1000px;
  margin: 0 auto;
}

.tag {
  font-size: 13px;
  display: inline-block;
  margin: 0 2px;
  padding: 0 6px;
  border-radius: 8px;
  color: $blue5;
}
