@import '../../styles/common.scss';

$tag: #{$classNamePrefix}-tag;

.#{$tag} {
  display: inline-flex;
  position: relative;
  height: fit-content;
  border-radius: $brMD;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $gray0;
    z-index: -1;
  }

  &--sm {
    padding: $spacing02 $spacing06;
  }

  &--md {
    padding: $spacing04 $spacing08;
  }

  &--lg {
    padding: $spacing06 $spacing12;
  }

  &--round {
    border-radius: $brCircle;
  }
}

.#{$tag}--default {
  &.#{$tag}--blue {
    background-color: $blue0;
    color: $blue5;
  }

  &.#{$tag}--red {
    background-color: $red0;
    color: $red5;
  }

  &.#{$tag}--gray {
    background-color: $gray1;
    color: $gray9;
  }

  &.#{$tag}--purple {
    background-color: $purple0;
    color: $purple5;
  }

  &.#{$tag}--yellow {
    background-color: $yellow0;
    color: $yellow5;
  }

  &.#{$tag}--orange {
    background-color: $orange1;
    color: $orange5;
  }

  &.#{$tag}--pink {
    background-color: $pink0;
    color: $pink5;
  }

  &.#{$tag}--green {
    background-color: $green0;
    color: $green5;
  }
}

.#{$tag}--fill {
  color: $gray0;
  &.#{$tag}--blue {
    background-color: $blue5;
  }

  &.#{$tag}--red {
    background-color: $red5;
  }

  &.#{$tag}--gray {
    background-color: $gray5;
  }

  &.#{$tag}--purple {
    background-color: $purple5;
  }

  &.#{$tag}--yellow {
    background-color: $yellow5;
  }

  &.#{$tag}--orange {
    background-color: $orange5;
  }

  &.#{$tag}--pink {
    background-color: $pink5;
  }

  &.#{$tag}--green {
    background-color: $green5;
  }
}

.#{$tag}--outline {
  background-color: $gray0;
  box-shadow: inset 0 0 0 1px currentColor;

  &.#{$tag}--blue {
    color: $blue5;
  }

  &.#{$tag}--red {
    color: $red5;
  }

  &.#{$tag}--gray {
    color: $gray7;
  }

  &.#{$tag}--purple {
    color: $purple5;
  }

  &.#{$tag}--yellow {
    color: $yellow5;
  }

  &.#{$tag}--orange {
    color: $orange5;
  }

  &.#{$tag}--pink {
    color: $pink5;
  }

  &.#{$tag}--green {
    color: $green5;
  }
}
