@import '../../styles/common.scss';

$text: #{$classNamePrefix}-text;

.#{$text} {
  @include reset;
  font-family: $fontFamily;
  filter: brightness(1);

  &--xs {
    @include normalFontXS;
  }

  &--sm {
    @include normalFontSM;
  }

  &--md {
    @include normalFontMD;
  }

  &--lg {
    @include normalFontLG;
  }

  &--light {
    font-weight: $fontWeightRegular;
  }

  &--default {
    font-weight: $fontWeightMedium;
  }

  &--bold {
    font-weight: $fontWeightBold;
  }

  &--inline {
    display: inline-block;
  }
}
