@import '../../styles/common.scss';

$heading: #{$classNamePrefix}-heading;

.#{$heading} {
  @include reset;
  font-family: $fontFamily;

  &--1 {
    @include heading1;
  }

  &--2 {
    @include heading2;
  }

  &--3 {
    @include heading3;
  }

  &--4 {
    @include heading4;
  }

  &--5 {
    @include heading5;
  }

  &--6 {
    @include heading6;
  }

  &--light {
    font-weight: $fontWeightRegular;
  }

  &--default {
    font-weight: $fontWeightMedium;
  }

  &--bold {
    font-weight: $fontWeightBold;
  }
}
